.error {
    background-color: #fdd;
    border: 0.1em solid #f88;
    padding: 0.3em;
}
body {
    max-width: 50em;
}
textarea {
    width: 100%;
}
button {
    display: block;
    margin: 0.7em 0 0 auto;
    padding: 0.2em 1em;
}
p > * {
    max-width: 100%;
}
table {
    margin-left: 2em;
    border-collapse: collapse;
}
th {
    text-align: left;
    background-color: #0000001a;
}
th, td {
    border: 1px solid #00000040;
    padding: 0.5em;
}

pre > code {
    padding: 1em;
    display: block;
    background-color: #f8f8f8;
    border-radius: 0.5em;
}

code.language-bad {
    color: #f33;
    background-color: #fee;
}

code.language-good {
    color: #181;
    background-color: #efe;
}
